<%= render "shared/top_nav_online"%>
<div class="container mt-3">
  <div class="row justify-content-center my-5">
    <div class="col-10 col-md-6 justify-content-center mt-5 border">
      <h2 class="text-center">New Product</h2>

      <%= render 'form', product: @product %>

      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>

