<footer class="container-fluid d-flex flex-wrap justify-items-center bg-dark mt-3">
  <div class="container d-flex justify-content-center">
    <div class="col-3 d-flex flex-wrap d-flex justify-content-center">
      <div class="container-fluid d-flex justify-content-center my-3">
       <h4>Shop Online</h4>
      </div>
      <ul class="footer-lists">
        <li>Shop Products</li>
        <li>Alice McCall</li>
        <li>Go to Cart</li>
        <li>Mini</li>
      </ul>
    </div>
    <div class="col-3 d-flex flex-wrap d-flex justify-content-center">
      <div class="container-fluid d-flex justify-content-center my-3">
        <h4>Our MarketPlace</h4>
      </div>
      <ul class="footer-lists">
        <li>Create Listing</li>
        <li>Shop Listings</li>
        <li>Messages</li>
        <li>Profile</li>
      </ul>
    </div>
    <div class="col-3 d-flex justify-content-center flex-wrap align-items-start">
      <div class="container-fluid d-flex justify-content-center my-3">
        <h4>Contact Us</h4>
      </div>
      <ul class="footer-lists">
        <li>Email: </li>
        <li>Phone: </li>
        <li>Instagram:</li>
      </ul>
    </div>
  </div>
  <div class="container border-top d-flex justify-content-center my-2">
    <div class="col-2 d-flex justify-content-end">
      <a href="#">Privacy Policy</a>
    </div>
    <div class="col-1 d-flex justify-content-center">
      <a href="#">Sitemap</a>
    </div>
    <div class="col-2 d-flex justify-content-start">
      <h6>Copyright Info</h6>
    </div>
  </div>
</footer>